In [1]:
import pandas as pd

In [25]:
data=pd.read_csv(r"C:\Users\sampa\OneDrive\Desktop\Intership_Infosys\storeDF\store_df.csv")

In [29]:
data.head()

,Product_Category,Store_Type,Product_Quality,Shelf_Placement,Discount_Level,Sales_Amount
0,Beverage,Urban,High,Top,Medium,500
1,Snack,Suburban,Medium,Middle,Low,300
2,Fruit,Rural,High,Bottom,NaN,150
3,Dairy,Urban,Low,Middle,High,450
4,Bakery,Suburban,Medium,Top,Low,350

In [15]:
data_encoded=pd.get_dummies(data,columns=['Store_Type'])

In [19]:
data['Store_Type'].value_counts()

Store_Type
Urban       14
Suburban    13
Rural       13
Name: count, dtype: int64

In [31]:
product_quality_mapping={
'Low':1,'Medium':2,'High':3
}
data_encoded['Product_Quality']=data_encoded['Product_Quality'].map(product_quality_mapping)

In [35]:
data['Product_Quality'][0]

'High'

In [37]:
data['Product_Quality']

0       High
1     Medium
2       High
3        Low
4     Medium
5       High
6     Medium
7       High
8        Low
9     Medium
10      High
11    Medium
12      High
13       Low
14    Medium
15      High
16       Low
17    Medium
18      High
19    Medium
20      High
21    Medium
22       Low
23      High
24       Low
25    Medium
26      High
27    Medium
28      High
29       Low
30    Medium
31      High
32    Medium
33       Low
34      High
35    Medium
36       Low
37    Medium
38      High
39    Medium
Name: Product_Quality, dtype: object

In [21]:
data['Store_Type'][0]

'Urban'

In [23]:
data_encoded

,Product_Category,Product_Quality,Shelf_Placement,Discount_Level,Sales_Amount,Store_Type_Rural,Store_Type_Suburban,Store_Type_Urban
0,Beverage,High,Top,Medium,500,False,False,True
1,Snack,Medium,Middle,Low,300,False,True,False
2,Fruit,High,Bottom,NaN,150,True,False,False
3,Dairy,Low,Middle,High,450,False,False,True
4,Bakery,Medium,Top,Low,350,False,True,False
5,Vegetable,High,Bottom,NaN,200,True,False,False
6,Beverage,Medium,Middle,Medium,400,False,False,True
7,Snack,High,Top,High,550,False,True,False
8,Fruit,Low,Bottom,NaN,100,True,False,False
9,Dairy,Medium,Middle,Low,300,False,False,True
10,Bakery,High,Top,Medium,450,False,True,False
11,Vegetable,Medium,Bottom,NaN,250,True,False,False
12,Beverage,High,Middle,Low,480,False,False,True
13,Snack,Low,Top,Medium,320,False,True,False
14,Fruit,Medium,Bottom,High,180,True,False,False
15,Dairy,High,Middle,Medium,420,False,False,True
16,Bakery,Low,Top,Low,330,False,True,False
17,Vegetable,Medium,Bottom,NaN,210,True,False,False
18,Beverage,High,Top,High,600,False,False,True
19,Snack,Medium,Middle,Low,350,False,True,False
20,Canned Goods,High,Top,NaN,220,True,False,False
21,Seafood,Medium,Middle,Low,370,False,False,True
22,Meat,Low,Bottom,Medium,280,False,True,False
23,Frozen Food,High,Top,High,500,True,False,False
24,Beverage,Low,Middle,Low,290,False,False,True
25,Snack,Medium,Top,Medium,360,False,True,False
26,Fruit,High,Bottom,NaN,160,True,False,False
27,Dairy,Medium,Middle,High,480,False,False,True
28,Bakery,High,Top,Low,440,False,True,False
29,Vegetable,Low,Bottom,NaN,190,True,False,False
30,Canned Goods,Medium,Middle,Medium,350,False,False,True
31,Seafood,High,Top,High,570,False,True,False
32,Meat,Medium,Bottom,Low,260,True,False,False
33,Frozen Food,Low,Middle,Medium,310,False,False,True
34,Beverage,High,Top,NaN,520,False,True,False
35,Snack,Medium,Bottom,High,200,True,False,False
36,Fruit,Low,Middle,Low,270,False,False,True
37,Dairy,Medium,Top,Medium,390,False,True,False
38,Bakery,High,Bottom,NaN,230,True,False,False
39,Vegetable,Medium,Middle,High,400,False,False,True