In [2]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('all_season_details.csv')
df

C:\Users\govinda prasad\AppData\Local\Temp\ipykernel_29496\3647924527.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('all_season_details.csv')

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [6]:
pd.set_option('display.max_columns',None)
df

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,shortText,isBoundary,isWide,isNoball,batsman1_id,batsman1_name,batsman1_runs,batsman1_balls,bowler1_id,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_id,batsman2_name,batsman2_runs,batsman2_balls,bowler2_id,bowler2_name,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,0,"Mohammed Shami to Conway, no run",False,False,False,379140,Devon Conway,0,1,481896,Mohammed Shami,0.1,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,1,"Mohammed Shami to Conway, 1 leg bye",False,False,False,379140,Devon Conway,0,2,481896,Mohammed Shami,0.2,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,0,"Mohammed Shami to Gaikwad, no run",False,False,False,1060380,Ruturaj Gaikwad,0,1,481896,Mohammed Shami,0.3,0,0,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,1,"Mohammed Shami to Gaikwad, 1 run",False,False,False,1060380,Ruturaj Gaikwad,1,2,481896,Mohammed Shami,0.4,0,1,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,0,"Mohammed Shami to Conway, no run",False,False,False,379140,Devon Conway,0,3,481896,Mohammed Shami,0.5,0,1,0,1060380,Ruturaj Gaikwad,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,0,"Balaji to Warne, no run",False,False,False,8166,Shane Warne,7,7,26829,Lakshmipathy Balaji,3.2,0,35,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,1,"Balaji to Warne, 1 run",False,False,False,8166,Shane Warne,8,8,26829,Lakshmipathy Balaji,3.3,0,36,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,1,"Balaji to Warne, 1 run",False,False,False,8166,Shane Warne,9,9,26829,Lakshmipathy Balaji,3.4,0,39,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,2,"Balaji to Sohail Tanvir, 2 wides",False,True,False,43265,Sohail Tanvir,6,5,26829,Lakshmipathy Balaji,3.3,0,38,0,8166,Shane Warne,8,8,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,2,"Balaji to Sohail Tanvir, 2 runs",False,False,False,43265,Sohail Tanvir,8,6,26829,Lakshmipathy Balaji,3.5,0,41,0,8166,Shane Warne,9,9,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [8]:
df.shape

(242550, 45)

In [10]:
df.columns

Index(['comment_id', 'season', 'match_id', 'match_name', 'home_team',
       'away_team', 'current_innings', 'innings_id', 'over', 'ball', 'runs',
       'shortText', 'isBoundary', 'isWide', 'isNoball', 'batsman1_id',
       'batsman1_name', 'batsman1_runs', 'batsman1_balls', 'bowler1_id',
       'bowler1_name', 'bowler1_overs', 'bowler1_maidens', 'bowler1_runs',
       'bowler1_wkts', 'batsman2_id', 'batsman2_name', 'batsman2_runs',
       'batsman2_balls', 'bowler2_id', 'bowler2_name', 'bowler2_overs',
       'bowler2_maidens', 'bowler2_runs', 'bowler2_wkts', 'wicket_id',
       'wkt_batsman_name', 'wkt_bowler_name', 'wkt_batsman_runs',
       'wkt_batsman_balls', 'wkt_text', 'isRetiredHurt', 'text', 'preText',
       'postText'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [16]:
df.drop(['comment_id','shortText','text','preText','postText'],axis=1,inplace=True)
df

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,isBoundary,isWide,isNoball,batsman1_id,batsman1_name,batsman1_runs,batsman1_balls,bowler1_id,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_id,batsman2_name,batsman2_runs,batsman2_balls,bowler2_id,bowler2_name,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
0,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,0,False,False,False,379140,Devon Conway,0,1,481896,Mohammed Shami,0.1,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,1,False,False,False,379140,Devon Conway,0,2,481896,Mohammed Shami,0.2,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,0,False,False,False,1060380,Ruturaj Gaikwad,0,1,481896,Mohammed Shami,0.3,0,0,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,1,False,False,False,1060380,Ruturaj Gaikwad,1,2,481896,Mohammed Shami,0.4,0,1,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,0,False,False,False,379140,Devon Conway,0,3,481896,Mohammed Shami,0.5,0,1,0,1060380,Ruturaj Gaikwad,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,0,False,False,False,8166,Shane Warne,7,7,26829,Lakshmipathy Balaji,3.2,0,35,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242546,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,1,False,False,False,8166,Shane Warne,8,8,26829,Lakshmipathy Balaji,3.3,0,36,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242547,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,1,False,False,False,8166,Shane Warne,9,9,26829,Lakshmipathy Balaji,3.4,0,39,0,43265,Sohail Tanvir,6,5,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242548,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,2,False,True,False,43265,Sohail Tanvir,6,5,26829,Lakshmipathy Balaji,3.3,0,38,0,8166,Shane Warne,8,8,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242549,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,2,False,False,False,43265,Sohail Tanvir,8,6,26829,Lakshmipathy Balaji,3.5,0,41,0,8166,Shane Warne,9,9,46592.0,Makhaya Ntini,4.0,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [18]:
df.head(10)

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,isBoundary,isWide,isNoball,batsman1_id,batsman1_name,batsman1_runs,batsman1_balls,bowler1_id,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_id,batsman2_name,batsman2_runs,batsman2_balls,bowler2_id,bowler2_name,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
0,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,0,False,False,False,379140,Devon Conway,0,1,481896,Mohammed Shami,0.1,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,1,False,False,False,379140,Devon Conway,0,2,481896,Mohammed Shami,0.2,0,0,0,1060380,Ruturaj Gaikwad,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,0,False,False,False,1060380,Ruturaj Gaikwad,0,1,481896,Mohammed Shami,0.3,0,0,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,1,False,False,False,1060380,Ruturaj Gaikwad,1,2,481896,Mohammed Shami,0.4,0,1,0,379140,Devon Conway,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,0,False,False,False,379140,Devon Conway,0,3,481896,Mohammed Shami,0.5,0,1,0,1060380,Ruturaj Gaikwad,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,6,0,False,False,False,379140,Devon Conway,0,4,481896,Mohammed Shami,1.0,0,1,0,1060380,Ruturaj Gaikwad,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,2,1,4,True,False,False,1060380,Ruturaj Gaikwad,5,3,625371,Hardik Pandya,0.1,0,4,0,379140,Devon Conway,0,4,481896.0,Mohammed Shami,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
7,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,2,2,0,False,False,False,1060380,Ruturaj Gaikwad,5,4,625371,Hardik Pandya,0.2,0,4,0,379140,Devon Conway,0,4,481896.0,Mohammed Shami,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
8,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,2,3,4,True,False,False,1060380,Ruturaj Gaikwad,9,5,625371,Hardik Pandya,0.3,0,8,0,379140,Devon Conway,0,4,481896.0,Mohammed Shami,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
9,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,2,4,1,False,False,False,1060380,Ruturaj Gaikwad,10,6,625371,Hardik Pandya,0.4,0,9,0,379140,Devon Conway,0,4,481896.0,Mohammed Shami,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [20]:
df.columns

Index(['season', 'match_id', 'match_name', 'home_team', 'away_team',
       'current_innings', 'innings_id', 'over', 'ball', 'runs', 'isBoundary',
       'isWide', 'isNoball', 'batsman1_id', 'batsman1_name', 'batsman1_runs',
       'batsman1_balls', 'bowler1_id', 'bowler1_name', 'bowler1_overs',
       'bowler1_maidens', 'bowler1_runs', 'bowler1_wkts', 'batsman2_id',
       'batsman2_name', 'batsman2_runs', 'batsman2_balls', 'bowler2_id',
       'bowler2_name', 'bowler2_overs', 'bowler2_maidens', 'bowler2_runs',
       'bowler2_wkts', 'wicket_id', 'wkt_batsman_name', 'wkt_bowler_name',
       'wkt_batsman_runs', 'wkt_batsman_balls', 'wkt_text', 'isRetiredHurt'],
      dtype='object')

In [22]:
df.isnull().sum()

season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [24]:
df[df['season'].isnull()]

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,isBoundary,isWide,isNoball,batsman1_id,batsman1_name,batsman1_runs,batsman1_balls,bowler1_id,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_id,batsman2_name,batsman2_runs,batsman2_balls,bowler2_id,bowler2_name,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
5080,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,1,0,False,False,False,974087,Rahmanullah Gurbaz,0,1,1148776,Arjun Tendulkar,0.1,0,0,0,1048813,Narayan Jagadeesan,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5081,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,2,2,False,False,False,974087,Rahmanullah Gurbaz,2,2,1148776,Arjun Tendulkar,0.2,0,2,0,1048813,Narayan Jagadeesan,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5082,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,3,1,False,False,False,974087,Rahmanullah Gurbaz,3,3,1148776,Arjun Tendulkar,0.3,0,3,0,1048813,Narayan Jagadeesan,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5083,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,4,1,False,False,False,1048813,Narayan Jagadeesan,0,1,1148776,Arjun Tendulkar,0.4,0,3,0,974087,Rahmanullah Gurbaz,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5084,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,5,0,False,False,False,974087,Rahmanullah Gurbaz,3,4,1148776,Arjun Tendulkar,0.5,0,3,0,1048813,Narayan Jagadeesan,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15196,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,3,4,True,False,False,403902,Liam Livingstone,88,44,236779,Ishant Sharma,2.3,0,29,1,1064812,Rahul Chahar,0,0,481979.0,Anrich Nortje,4.0,0.0,36.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False
15197,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,4,0,False,False,False,403902,Liam Livingstone,94,46,236779,Ishant Sharma,2.4,0,36,1,1064812,Rahul Chahar,0,0,481979.0,Anrich Nortje,4.0,0.0,36.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False
15198,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,4,7,True,False,True,403902,Liam Livingstone,94,45,236779,Ishant Sharma,2.3,0,36,1,1064812,Rahul Chahar,0,0,481979.0,Anrich Nortje,4.0,0.0,36.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False
15199,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,5,0,False,False,False,403902,Liam Livingstone,94,47,236779,Ishant Sharma,2.5,0,36,1,1064812,Rahul Chahar,0,0,481979.0,Anrich Nortje,4.0,0.0,36.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False
15200,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,6,0,False,False,False,403902,Liam Livingstone,94,48,236779,Ishant Sharma,3.0,0,36,2,1064812,Rahul Chahar,0,0,481979.0,Anrich Nortje,4.0,0.0,36.0,2.0,403902.0,Liam Livingstone,Ishant Sharma,94.0,48.0,LS Livingstone c Patel b Sharma 94 (69m 48b 5x...,False

In [26]:
df.loc[(df['match_id'].isin([1359496,1359538])) & (df['season'].isnull()), 'season'] = 2023

In [28]:
df.isnull().sum()

season                    0
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [30]:
df.duplicated().sum()

np.int64(1)

In [32]:
df[df.duplicated()]

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,isBoundary,isWide,isNoball,batsman1_id,batsman1_name,batsman1_runs,batsman1_balls,bowler1_id,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_id,batsman2_name,batsman2_runs,batsman2_balls,bowler2_id,bowler2_name,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
13082,2023.0,1359530,KKR v RR,KKR,RR,KKR,1,1,1,2,False,False,False,298438,Jason Roy,2,1,277912,Trent Boult,0.1,0,2,0,974087,Rahmanullah Gurbaz,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [34]:
df.drop_duplicates(inplace=True)

In [36]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.to_csv('all_season_details_data.csv', index=False)