In [4]:

import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [6]:
df=pd.read_csv('all_season_details.csv')

C:\Users\govinda prasad\AppData\Local\Temp\ipykernel_14680\2416424084.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('all_season_details.csv')

In [8]:
df

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [10]:
df.shape

(242550, 45)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [14]:
df.drop(['comment_id','shortText','text','preText','postText'],axis=1,inplace=True)
df

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,...,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
0,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,0,...,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242546,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,1,...,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242547,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,1,...,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242548,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,2,...,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
242549,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,2,...,1.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [16]:
df.isnull().sum()

season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [18]:
df.loc[(df['match_id'].isin([1359496,1359538])) & (df['season'].isnull()), 'season'] = 2023

In [20]:
df.isnull().sum()

season                    0
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [22]:
df.drop_duplicates(inplace=True)

In [24]:
df.duplicated().sum()

np.int64(0)

In [26]:
df.columns

Index(['season', 'match_id', 'match_name', 'home_team', 'away_team',
       'current_innings', 'innings_id', 'over', 'ball', 'runs', 'isBoundary',
       'isWide', 'isNoball', 'batsman1_id', 'batsman1_name', 'batsman1_runs',
       'batsman1_balls', 'bowler1_id', 'bowler1_name', 'bowler1_overs',
       'bowler1_maidens', 'bowler1_runs', 'bowler1_wkts', 'batsman2_id',
       'batsman2_name', 'batsman2_runs', 'batsman2_balls', 'bowler2_id',
       'bowler2_name', 'bowler2_overs', 'bowler2_maidens', 'bowler2_runs',
       'bowler2_wkts', 'wicket_id', 'wkt_batsman_name', 'wkt_bowler_name',
       'wkt_batsman_runs', 'wkt_batsman_balls', 'wkt_text', 'isRetiredHurt'],
      dtype='object')

In [192]:
import pandas as pd

# Select the required columns and create a copy
ball_by_ball_df = df[['season', 'match_id', 'home_team', 'away_team', 'current_innings',
                      'innings_id', 'over', 'ball', 'runs', 'wicket_id', 
                      'wkt_batsman_name', 'wkt_batsman_runs']].copy()

# Step 1: Calculate cumulative runs for each match and innings
ball_by_ball_df['cumulative_runs'] = ball_by_ball_df.groupby(['match_id', 'current_innings'])['runs'].cumsum()

# Step 2: Calculate run rate by dividing cumulative runs by the over (adding a small value to avoid division by zero)
ball_by_ball_df['run_rate'] = ball_by_ball_df['cumulative_runs'] / (ball_by_ball_df['over'] + 0.1)

# Step 3: Calculate wickets lost by counting instances where `wkt_batsman_runs` is non-negative
ball_by_ball_df['wickets_lost'] = ball_by_ball_df.groupby(['match_id', 'current_innings'])['wkt_batsman_runs']\
                                                 .transform(lambda x: (x >= 0).cumsum())

# Step 4: Fill any NaN values in the DataFrame with 0
ball_by_ball_df.fillna(0, inplace=True)

In [194]:
ball_by_ball_df.head(20)

,season,match_id,home_team,away_team,current_innings,innings_id,over,ball,runs,wicket_id,wkt_batsman_name,wkt_batsman_runs,cumulative_runs,run_rate,wickets_lost
0,2023.0,1359475,GT,CSK,CSK,1,1,1,0,0.0,0,0.0,0,0.000000,0
1,2023.0,1359475,GT,CSK,CSK,1,1,2,1,0.0,0,0.0,1,0.909091,0
2,2023.0,1359475,GT,CSK,CSK,1,1,3,0,0.0,0,0.0,1,0.909091,0
3,2023.0,1359475,GT,CSK,CSK,1,1,4,1,0.0,0,0.0,2,1.818182,0
4,2023.0,1359475,GT,CSK,CSK,1,1,5,0,0.0,0,0.0,2,1.818182,0
5,2023.0,1359475,GT,CSK,CSK,1,1,6,0,0.0,0,0.0,2,1.818182,0
6,2023.0,1359475,GT,CSK,CSK,1,2,1,4,0.0,0,0.0,6,2.857143,0
7,2023.0,1359475,GT,CSK,CSK,1,2,2,0,0.0,0,0.0,6,2.857143,0
8,2023.0,1359475,GT,CSK,CSK,1,2,3,4,0.0,0,0.0,10,4.761905,0
9,2023.0,1359475,GT,CSK,CSK,1,2,4,1,0.0,0,0.0,11,5.238095,0
10,2023.0,1359475,GT,CSK,CSK,1,2,5,1,0.0,0,0.0,12,5.714286,0
11,2023.0,1359475,GT,CSK,CSK,1,2,6,1,0.0,0,0.0,13,6.190476,0
12,2023.0,1359475,GT,CSK,CSK,1,3,1,1,0.0,0,0.0,14,4.516129,0
13,2023.0,1359475,GT,CSK,CSK,1,3,2,0,379140.0,Devon Conway,1.0,14,4.516129,1
14,2023.0,1359475,GT,CSK,CSK,1,3,3,0,0.0,0,0.0,14,4.516129,1
15,2023.0,1359475,GT,CSK,CSK,1,3,4,0,0.0,0,0.0,14,4.516129,1
16,2023.0,1359475,GT,CSK,CSK,1,3,5,0,0.0,0,0.0,14,4.516129,1
17,2023.0,1359475,GT,CSK,CSK,1,3,6,0,0.0,0,0.0,14,4.516129,1
18,2023.0,1359475,GT,CSK,CSK,1,4,1,6,0.0,0,0.0,20,4.878049,1
19,2023.0,1359475,GT,CSK,CSK,1,4,2,4,0.0,0,0.0,24,5.853659,1

In [141]:
# # import pandas as pd

# # # Assuming your data is in a DataFrame called ball_by_ball_df
# # # Step 1: Identify if a wicket was lost on each ball
# # ball_by_ball_df['wicket_event'] = ball_by_ball_df['wicket_id'].notnull().astype(int)

# # # Step 2: Calculate cumulative wickets lost in each innings
# # ball_by_ball_df['wickets_lost'] = ball_by_ball_df.groupby(['current_innings'])['wicket_event'].cumsum()


# ball_by_ball_df['wickets_lost'] = ball_by_ball_df.groupby(['match_id', 'current_innings'])['wkt_batsman_runs'].apply(lambda x: (x >= 0).cumsum()).reset_index(drop=True)
# ball_by_ball_df = ball_by_ball_df.fillna(0)  # Replaces all NaNs with 0

In [196]:
X = ball_by_ball_df[['over', 'ball', 'run_rate','wickets_lost']]
y = ball_by_ball_df['cumulative_runs']

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [200]:
X_train

        over  ball  run_rate  wickets_lost
199033    12     4  5.537190             3
237647    17     1  8.596491             2
10462      1     5  4.545455             1
39476      8     4  8.518519             0
137929     9     2  6.153846             2
...      ...   ...       ...           ...
119880    10     6  7.029703             3
103695    12     4  8.016529             1
131933     6     1  8.196721             2
146868    18     6  7.182320             5
121959    10     6  7.326733             3

[194039 rows x 4 columns]

In [202]:
y_train

199033     67
237647    147
10462       5
39476      69
137929     56
         ...
119880     71
103695     97
131933     50
146868    130
121959     74
Name: cumulative_runs, Length: 194039, dtype: int64

In [204]:
y_train

199033     67
237647    147
10462       5
39476      69
137929     56
         ...
119880     71
103695     97
131933     50
146868    130
121959     74
Name: cumulative_runs, Length: 194039, dtype: int64

In [206]:
rf_model=RandomForestRegressor(n_estimators=200, max_depth=None, random_state=42,min_samples_leaf=1,min_samples_split=2)

In [208]:
rf_model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [214]:
y_rf_simple_pred=rf_model.predict(X_test)

In [216]:
rf_simple_mse=mean_squared_error(y_test,y_rf_simple_pred)
rf_r2=r2_score(y_test,y_rf_simple_pred)

In [218]:
rf_simple_mse

np.float64(0.07694343073593075)

In [220]:
rf_r2

0.9999691698955798

In [226]:
new_data = pd.DataFrame({
    'over': [10],  
    'ball': [2],      
    'run_rate': [10],        
    'wickets_lost': [9]          
})

In [228]:
predict_runs=rf_model.predict(new_data)
print(f"Predicted Cumulative Runs: {predict_runs[0]}")

Predicted Cumulative Runs: 101.0

In [230]:

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

#linear regression

poly_model = LinearRegression()
poly_model.fit(X_train, y_train)

pred = poly_model.predict(X_test)

rf_simple_mse=mean_squared_error(y_test,pred)
print(rf_simple_mse)

print(pred)
rf_r2=r2_score(y_test,pred)
rf_r2

267.29365912021814
[ 63.02568743  35.09558253 -19.86567517 ...  12.66308867 111.175601
  50.61589669]

0.8928993503056039

In [232]:
#polynomial  regression



poly = PolynomialFeatures(degree=2) 
X_polya = poly.fit_transform(X_train)
X_polyb=poly.fit_transform(X_test)


poly_model = LinearRegression()
poly_model.fit(X_polya, y_train)


pred = poly_model.predict(X_polyb)

rf_simple_mse=mean_squared_error(y_test,pred)
print(rf_simple_mse)

print(pred)
rf_r2=r2_score(y_test,pred)
rf_r2

3.9682372454883144e-24
[ 4.50000000e+01  3.10000000e+01 -1.88888401e-12 ...  1.40000000e+01
  9.20000000e+01  5.20000000e+01]

1.0

In [266]:
from sklearn.tree import DecisionTreeRegressor

tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X_train, y_train)

pred = tree_model.predict(X_test)

rf_simple_mse = mean_squared_error(y_test, pred)
print(f'Mean Squared Error: {rf_simple_mse:.2f}')


rf_r2 = r2_score(y_test, pred)
print(f'R² Score: {rf_r2:.2f}')

Mean Squared Error: 327.77
R² Score: 0.87