In [2]:

import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df=pd.read_csv('all_season_details.csv')

C:\Users\govinda prasad\AppData\Local\Temp\ipykernel_16984\2416424084.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('all_season_details.csv')

In [6]:
df.drop(['comment_id','shortText','text','preText','postText'],axis=1,inplace=True)

In [8]:
df.loc[(df['match_id'].isin([1359496,1359538])) & (df['season'].isnull()), 'season'] = 2023

In [10]:
df.drop_duplicates(inplace=True)

In [12]:
new_df = df[['season', 'match_id', 'home_team', 'away_team', 'current_innings',
                      'innings_id', 'over', 'ball', 'runs', 'wicket_id', 
                      'wkt_batsman_name', 'wkt_batsman_runs']].copy()

new_df['cumulative_runs'] = new_df.groupby(['match_id', 'current_innings'])['runs'].cumsum()

new_df['run_rate'] = new_df['cumulative_runs'] / (new_df['over'] + 0.1)

new_df['wickets_lost'] = new_df.groupby(['match_id', 'current_innings'])['wkt_batsman_runs']\
                                                 .transform(lambda x: (x >= 0).cumsum())
new_df.fillna(0, inplace=True)

In [16]:
new_df.head(20)

,season,match_id,home_team,away_team,current_innings,innings_id,over,ball,runs,wicket_id,wkt_batsman_name,wkt_batsman_runs,cumulative_runs,run_rate,wickets_lost
0,2023.0,1359475,GT,CSK,CSK,1,1,1,0,0.0,0,0.0,0,0.000000,0
1,2023.0,1359475,GT,CSK,CSK,1,1,2,1,0.0,0,0.0,1,0.909091,0
2,2023.0,1359475,GT,CSK,CSK,1,1,3,0,0.0,0,0.0,1,0.909091,0
3,2023.0,1359475,GT,CSK,CSK,1,1,4,1,0.0,0,0.0,2,1.818182,0
4,2023.0,1359475,GT,CSK,CSK,1,1,5,0,0.0,0,0.0,2,1.818182,0
5,2023.0,1359475,GT,CSK,CSK,1,1,6,0,0.0,0,0.0,2,1.818182,0
6,2023.0,1359475,GT,CSK,CSK,1,2,1,4,0.0,0,0.0,6,2.857143,0
7,2023.0,1359475,GT,CSK,CSK,1,2,2,0,0.0,0,0.0,6,2.857143,0
8,2023.0,1359475,GT,CSK,CSK,1,2,3,4,0.0,0,0.0,10,4.761905,0
9,2023.0,1359475,GT,CSK,CSK,1,2,4,1,0.0,0,0.0,11,5.238095,0
10,2023.0,1359475,GT,CSK,CSK,1,2,5,1,0.0,0,0.0,12,5.714286,0
11,2023.0,1359475,GT,CSK,CSK,1,2,6,1,0.0,0,0.0,13,6.190476,0
12,2023.0,1359475,GT,CSK,CSK,1,3,1,1,0.0,0,0.0,14,4.516129,0
13,2023.0,1359475,GT,CSK,CSK,1,3,2,0,379140.0,Devon Conway,1.0,14,4.516129,1
14,2023.0,1359475,GT,CSK,CSK,1,3,3,0,0.0,0,0.0,14,4.516129,1
15,2023.0,1359475,GT,CSK,CSK,1,3,4,0,0.0,0,0.0,14,4.516129,1
16,2023.0,1359475,GT,CSK,CSK,1,3,5,0,0.0,0,0.0,14,4.516129,1
17,2023.0,1359475,GT,CSK,CSK,1,3,6,0,0.0,0,0.0,14,4.516129,1
18,2023.0,1359475,GT,CSK,CSK,1,4,1,6,0.0,0,0.0,20,4.878049,1
19,2023.0,1359475,GT,CSK,CSK,1,4,2,4,0.0,0,0.0,24,5.853659,1